/* COMMON */
body {
    /* 기본 setting */
    color : #333333; /* #333 로도 써도 ㄱㅊ */
    font-size: 16px;
    font-weight: 400; /* 두께 100~900 중 일반적 */
    line-height: 1.4;
    font-family: 'Nanum Gothic', sans-serif;

    height: 3000px; /* 스크롤바 생김*/
}

/* logo 밑 여백 없애자 */
img {
    display : block; /* img는 원래 inline -> block 취급하자 */
}

a {
    text-decoration: none; /* 링크라서 걸린 밑줄 제거 */
}

.inner {
    /* 가운데 정렬 */
    width: 1100px;
    margin : 0 auto; /* 외부여백 위아래는 0 좌우는 auto */
    position: relative;
}



/* HEADER */
header {
    width: 100%;
    /*position: relative;  밑에 배너 작업하면서 추가 */
    background-color: #f6f5f0;
    border-bottom: 1px solid #c8c8c8; /* 아래 테두리선 하나 */
    position: fixed; /* 뷰 기준 배치, relative 대신 가능 */
    top : 0;
}

/* header .inner {
    /* 가운데 정렬 */
    /* width: 1100px;
    position: relative;
    margin: 0 auto; 위에 .inner 공통이라 주석 */
    /* background-color: orange;
    height: 120px;
} */

header > .inner {
    height: 120px;
}

header .logo {
    height: 75px;
    /* 가운데 정렬 - 위아래 0으로 찍고 margin 처리 */
    position: absolute; /* 부모 요소(inner) 기준으로 배치*/
    top : 0;
    bottom: 0;
    left: 0;
    margin: auto;

    /*display: none; 작업 시 거슬릴 때 */
}

header .sub-menu {
    position: absolute;
    top : 10px;
    right: 0; /* 왼쪽에 있던 애들 옮기자*/
    display: flex;
}

/* ul태그면서 menu라는 클래스를 가지는 요소가 있다! */
header .sub-menu ul.menu {
    font-family: Arial, sans-serif; 
     display: flex; /* 요소들이 수평으로 정렬 */
}

header .sub-menu ul.menu li {
    position: relative; /* relative 설정 후 밑에서 위치 지정 on */
}

/* 상단메뉴 구분선 */
header .sub-menu ul.menu li::before { /* :: (가상 요소 선택자 - 앞에 넣기?) */
    content : "";
    display: block; /* 원래는 inline + 밑에 absolute하면 자동 block임*/
    width: 1px;
    height: 12px;
    background-color: #e5e5e5;

    position: absolute; /* 부모 요소 li 기준 배치 -> 위에 relative 설정 */
    top: 0;
    bottom: 0;
    margin: auto;
    
}

/* sign 왼쪽 구분선 없애주자 */
header .sub-menu ul.menu li:first-child::before {
    /* 여러 li태그들 중에서 first 찾아서 설정 */
    display: none;
}




header .sub-menu ul.menu li a { /* a태그 : 사용자가 클릭하는 영역 */
    font-size: 12px; /* 선택 영역 작아져서 padding으로 여백 추가 */
    color: #656565;

    padding : 11px 16px;
    display: block; /* 원래 a태그는 inline */
}

header .sub-menu ul.menu li a:hover { /* : (가상 클래스 선택자 - 마우스) */
    color: #000;
}


header .sub-menu .search {
    height: 34px;

    position: relative;
}

header .sub-menu .search input {
    width: 36px;
    height: 34px;
    padding: 4px 10px; /* 내부영역 */
    border: 1px solid #ccc; /* 테두리선 */
    box-sizing: border-box; /* 지정한 요소 크기 유지하도록*/
    border-radius: 5px;
    outline: none; /* 창 누르면 입력 테두리 나오는 거 off */
    background-color: #fff;
    color: #777;
    font-size: 12px;
    transition: width .4s;
}

header .sub-menu .search input:focus { /* 크기 키워줌 */
    width: 190px;
    border-color: #669900;
}

header .sub-menu .search .material-icons {
    height: 24px;
    position: absolute; /* 부모요소search 기준 배치하겠다 -> position relative */
    top : 0;
    bottom: 0;
    right: 5px;
    margin: auto;
    transition: .4s;
}
/* focus후 생성된 클래스로 css 추가 작업 */
header .sub-menu .search.focused .material-icons {
    opacity: 0; /* 검색 누르면 아이콘 안 보이도록 */
}


header .main-menu {
    position: absolute;
    bottom : 0;
    right : 0;
    z-index : 1; /* 위치 조절 */
    display: flex; /* 메인 메뉴들 수평방향 */
}

header .main-menu .item {
    
}

header .main-menu .item .item__name {
    padding : 10px 20px 34px 20px; /* 내부여백 */
    font-family: Arial, sans-serif;
    font-size: 13px;
}

header .main-menu .item:hover .item__name {
    background-color: #2c2a29;
    color : #669900;
    border-radius: 6px 6px 0 0;
}


header .main-menu .item .item__contents {
    width : 100%;
    position: fixed;
    left : 0;
    display : none;

}

header .main-menu .item:hover .item__contents {
    display: block;
}

header .main-menu .item .item__contents .contents__menu {
    background-color: #2c2a29;
}

header .main-menu .item .item__contents .contents__menu > ul {
    display: flex; /* 배열 */
    padding : 20px 0;
}

header .main-menu .item .item__contents .contents__menu > ul > li {
    width: 220px;

}

header .main-menu .item .item__contents .contents__menu > ul > li h4 {
    padding : 3px 0 12px 0;
    font-size: 14px;
    color : #fff;
}

/*header .main-menu .item .item__contents .contents__menu > ul > li ul {
     딱히 안 씀 
}*/

header .main-menu .item .item__contents .contents__menu > ul > li ul li {
    padding: 5px 0;
    font-size: 12px;
    color : #999;
    cursor: pointer; /* 마우스 커서가 pointer로 */
}

header .main-menu .item .item__contents .contents__menu > ul > li ul li:hover {
    color: #669900; /* 소제목에 마우스 올리면 초록초록 */
}



header .main-menu .item .item__contents .contents__texture {
    padding: 26px 0;
    font-size: 12px;
    background-image: url("../images/main_menu_pattern.jpg");
}

header .main-menu .item .item__contents .contents__texture h4 {
    color: #999;
    font-weight: 700; /* 두께 */
}

header .main-menu .item .item__contents .contents__texture p {
    color:#669900;
    margin: 4px 0 14px; /* 상중하 */
}

header .badges {
    position: absolute; /* 부모요소 header 기준 배치 */
    top: 132px;
    right: 12px;
}

header .badges .badge {
    border-radius: 10px;
    overflow: hidden; /* 이미지 안 넘치도록 */
    margin-bottom: 12px;
    box-shadow: 4px 4px 10px rgba(0,0,0,.15);
    cursor: pointer;
}


/* VISUAL */

.visual {
    margin-top: 120px; /* header 높이 값 */
    background-image: url("../images/visual_bg.jpg");
    background-position: center;
}

.visual .inner {
    height: 640px;
    background-color: orange;
}

.visual .title {

}

.visual .title .btn {

}

.visual .cup1.image {

}

.visual .cup1.text {

}

.visual .cup2.image {

}

.visual .cup2.text {

}

.visual .spoon {

}




