/* COMMON */
body {
    /* 기본 setting */
    color : #333333; /* #333 로도 써도 ㄱㅊ */
    font-size: 16px;
    font-weight: 400; /* 두께 100~900 중 일반적 */
    line-height: 1.4;
    font-family: 'Nanum Gothic', sans-serif;
}

/* logo 밑 여백 없애자 */
img {
    display : block; /* img는 원래 inline -> block 취급하자 */
}

a {
    text-decoration: none; /* 링크라서 걸린 밑줄 제거 */
}



/* HEADER */
header {
    background-color: royalblue;
}

header .inner {
    /* 가운데 정렬 */
    width: 1100px;
    height: 120px;
    margin: 0 auto; /* 외부여백 위아래는 0 좌우는 auto */
    background-color: orange;
    position: relative;
}

header .logo {
    height: 75px;
    /* 가운데 정렬 - 위아래 0으로 찍고 margin 처리 */
    position: absolute; /* 부모 요소(inner) 기준으로 배치*/
    top : 0;
    bottom: 0;
    left: 0;
    margin: auto;

    display: none; /* 작업 시 거슬릴 때 */
}

header .sub-menu {

}

/* ul태그면서 menu라는 클래스를 가지는 요소가 있다! */
header .sub-menu ul.menu {
    font-family: Arial, sans-serif; 
     display: flex; /* 요소들이 수평으로 정렬 */
}

header .sub-menu ul.menu li {
    position: relative; /* relative 설정 후 밑에서 위치 지정 on */
}

/* 상단메뉴 구분선 */
header .sub-menu ul.menu li::before { /* :: (가상 요소 선택자 - 앞에 넣기?) */
    content : "";
    display: block; /* 원래는 inline + 밑에 absolute하면 자동 block임*/
    width: 1px;
    height: 12px;
    background-color: #e5e5e5;

    position: absolute; /* 부모 요소 li 기준 배치 -> 위에 relative 설정 */
    top: 0;
    bottom: 0;
    margin: auto;
    
}

/* sign 왼쪽 구분선 없애주자 */
header .sub-menu ul.menu li:first-child::before {
    /* 여러 li태그들 중에서 first 찾아서 설정 */
    display: none;
}




header .sub-menu ul.menu li a { /* a태그 : 사용자가 클릭하는 영역 */
    font-size: 12px; /* 선택 영역 작아져서 padding으로 여백 추가 */
    color: #656565;

    padding : 11px 16px;
    display: block; /* 원래 a태그는 inline */
}

header .sub-menu ul.menu li a:hover { /* : (가상 클래스 선택자 - 마우스) */
    color: #000;
}


header .sub-menu .search {

}

header .sub-menu .search input {

}

header .sub-menu .search .material-icons {

}